<?xml version="1.0"?>
<config>
	<modules>
		<Copimaj_PriceSlider>
			<version>0.1.0</version>
		</Copimaj_PriceSlider>
	</modules>
	<global>
		<models>
			<catalog>
				<rewrite>
					<layer_filter>Copimaj_PriceSlider_Model_Price</layer_filter>
				</rewrite>
			</catalog>
		</models>
	</global>
</config>