<?xml version="1.0"?>
<config>
	<modules>
		<Copimaj_PriceSlider>
			<version>0.1.0</version>
		</Copimaj_PriceSlider>
	</modules>
	<global>
		<models>
			<catalog>
				<rewrite>
					<layer_filter_price>Copimaj_PriceSlider_Model_Price</layer_filter_price>
					<layer_filter_item>Copimaj_PriceSlider_Model_Item</layer_filter_item>
				</rewrite>
			</catalog>
		</models>
		<blocks>
			<catalog>
				<rewrite>
					<layer_state>Copimaj_PriceSlider_Block_State</layer_state>
				</rewrite>
			</catalog>
		</blocks>
	</global>
</config>